@model IEnumerable<YTool.Business.ViewModels.SnippetViewModel>
<div class="panel panel-default">
    <div class="panel-heading">Youtube Search Result using Google.Apis.YouTube.v3</div>
    <div class="panel-body">
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td nowrap>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td nowrap>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td nowrap>
                                @Html.DisplayFor(modelItem => item.kind)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
